.advantage-section {
  padding: 60px 0 0;
  @media (min-width: $bp-desktop) {
    padding: 94px 0;
  }

  &__title {
    @include invisible-title;
  }

  &__card-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
  }

  &__icon {
    display: flex;
    max-width: 480px;
    height: 120px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--background-color-brand-secondary);
  }

  &__card-text {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
    color: var(--text-color-secondary);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__card {
    @media (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
    @media (min-width: $bp-desktop) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
}
