.footer {
  padding: 60px 0;
  background-color: var(--background-color-brand-primary);
  @media (max-width: $bp-desktop - 0.5) {
    text-align: center;
  }

  &__container {
    position: relative;
    @media (min-width: $bp-desktop) {
      display: flex;
    }
  }

  &__tablet-container {
    @media (min-width: $bp-tablet) {
      display: flex;
      gap: 165px;
      justify-content: center;
      margin-bottom: 60px;
    }
    @media (min-width: $bp-desktop) {
      gap: 70px;
      margin-bottom: 0;
    }
  }

  &__list:not(:last-child) {
    margin-bottom: 9px;
  }

  &__contact {
    display: inline-block;
    color: var(--text-color-white);
    opacity: 60%;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
  }

  &__address {
    display: inline-block;
    color: var(--text-color-white);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
  }

  &__nav {
    @media (max-width: $bp-tablet - 0.5) {
      margin-bottom: 60px;
    }
  }
}
