.portfolio-section {
  padding: 60px 0;
  @media (min-width: $bp-desktop) {
    padding: 94px 0;
  }

  &__title {
    @include invisible-title;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
    @media (max-width: $bp-tablet - 0.5) {
      max-width: 326px;
    }
    @media (min-width: $bp-tablet) {
      justify-content: center;
    }
  }

  &__list {
    @media (min-width: $bp-tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__filter-button {
    padding: 6px 22px;
    border-radius: 4px;
    background-color: var(--background-color-brand-secondary);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-brand);
      color: var(--text-color-white);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
