:root {
    --color-brand: #2196f3;
    --background-color-brand-primary: #2f303a;
    --background-color-brand-secondary: #f5f4fa;
    --background-color-white: #ffffff;
    --text-color-primary: #212121;
    --text-color-secondary: #757575;
    --text-color-white: #ffffff;
    --text-color-black: #000000;
    --color-hero-button-hover: #188ce8;
    --icon-color-secondary: #afb1b8;
  }